h2 {
	margin: 3px;
	letter-spacing: -0.05em;
}
#container {
	float: right;
}
#container:after {
	content: "";
	clear: both;
	display: block;
	margin-bottom: 10px;
}
.btn {
	display: inline-block;
	border: solid 1px #CCC;
	border-radius: 2px;
	background-color: #EEE;
	cursor: pointer;
	width: 100px;
	padding: 5px;
	margin-top: 10px;
	font-weight: bold;
	text-align: center;
}
.btn.disable {
	color: #CCC;
	background-color: #F5F5F5;
}